doctype html
html(lang="zh-Hant-TW")
    head
        meta(charset="utf-8")
        title= title
        meta(name="description", content= meta_desc)
        meta(name="keywords", content= meta_keyword)
        meta(name="viewport", content="width=750, user-scalable=no")
        link(rel="Shortcut Icon", type="image/x-icon", href="/dw_icon.ico")
        link(rel='stylesheet', href='/css/reset.css')
        link(rel='stylesheet', href='/css/news_page_mb.css')
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-65559425-9")
    body
        .top_nav
            a(href="/")
                .logo_icon
            .media_link
                ul
                    each media in social_media
                        li
                            a(href=media.link target="_blank" title=media.title)
                                img(src="/img/"+media.image, alt=media.title)
        .news_page_bg
            a(href="/news")
                .back_to_list_outer
                    i
                    | 返回
            .news_page_position
                if (news_item)
                        .news_page_content_sort #{news_type[news_item.type]}
                        .news_page_content_time #{moment(news_item.start_time).format("YYYY-MM-DD")}
                        .news_page_content_title #{news_item.title}
                        .news_page_content
                            | !{news_item.content}
                            #back-to-top
                else
                    .news_page_content_time
                        .news_page_content_title
                        .news_page_content
                            | 文章不存在

script(src="/js/jquery-2.1.1.min.js")
script(type="text/javascript", src="/js/news_detail_mb.js")
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-65559425-9');
