doctype html
html(lang="zh-Hant-TW")
    head
        meta(charset="utf-8")
        title= title
        meta(name="description", content= meta_desc)
        meta(name="keywords", content= meta_keyword)
        meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
        link(rel="Shortcut Icon", type="image/x-icon", href="/dw_icon.ico")
        link(rel='stylesheet', href='/css/reset.css')
        link(rel='stylesheet', href='/css/tab_news.css')
        link(rel='stylesheet', href='/css/news.css')
    body
        include ../includes/head.pug
        .video_bg
            video.slider-video(preload="auto",loop="",autoplay="",muted)
                source(src="img/video2.mp4",type="video/mp4")
            .fix_mask
        .news_box
            .news_list_position
                .news_title(style="display:none;")
                .tab_wrapper.first_tab
                    ul.tab_list
                        li.active 最新
                        li 新聞
                        li 公告
                        li 攻略
                    .content_wrapper
                        each news_data in news_group
                            .tab_content
                                ul
                                    each news_item in news_data
                                        li
                                            a(href="/news/" + news_item.id)
                                                .news_content_position
                                                    .news_inner
                                                        .news_title_text #{news_item.title}
                                                        .news_content_text
                                                            if(news_item.hero_image!==null)
                                                                img(src=news_item.hero_image alt=news_item.title)
                                                            else
                                                                | !{striptags(news_item.preview_content)}
                                                    .news_sort #{news_type[news_item.type]}
                                                    .date_time #{moment(news_item.start_time).format("YYYY-MM-DD")}
                .list_box
                    ul
                        li first
                        li 1
                        li 2
                        li 3
                        li Last
        .footer
            .footer_copyright
                span.netease
                a(href="https://game.longeplay.com.tw")
                    span.longe
                span.service
                span.footer_service
                    p 台灣遊戲代理：龍邑股份有限公司
                        br 
                        | 線上回報：
                        a(href="https://game.longeplay.com.tw/service_quick?param_game_id=H54&site=long_e", target="_blank") 聯絡客服
                .text
                    p 《海島紀元》依遊戲軟體分級管理辦法分類為普通級。 本應用遊戲為免費使用，內另有提供購買虛擬遊戲幣、物品等付費服務。 請依個人興趣、能力進行體驗，並注意遊戲時間避免沉迷。


script(type="text/javascript", src="/js/jquery-2.1.1.min.js")
script(type="text/javascript", src="/js/jquery.multipurpose_tabcontent.js")
script(type="text/javascript", src="/js/news_list.js")

script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-65559425-9');