doctype html
html(lang="zh-Hant-TW")
  head
    meta(charset="utf-8")
    title= title
    meta(name="description", content= meta_desc)
    meta(name="keywords", content= meta_keyword)
    meta(name="viewport", content="width=750,user-scalable=0")
    link(rel="Shortcut Icon", type="image/x-icon", href="/dw_icon.ico")
    link(rel='stylesheet', href='css/reset.css')
    link(rel='stylesheet', href='css/pre_page_mb_20190308.css')
    script(src="https://cdn.rawgit.com/github/fetch/master/fetch.js")
  body
    #fb-root
    script(async defer src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v3.2&appId=192173398171360&autoLogAppEvents=1")
    //- <!--預註冊表單-->	
    #pre_outer_layer
      #pre_form
        #pre_close
        #pre_form_title
        form(action="", method="post" onsubmit="return submitData()")
          .pre_step.step1 1
          input.email_input(id="email_address", name="email_address" type="email", placeholder="請輸入電子郵件信箱" required)         
          .pre_step.step2 2
          #pre_fb
          #fb_login
            .fb-like(data-href="https://www.facebook.com/DownofislesGame", data-layout="standard", data-action="like", data-size="small", data-show-faces="false", data-share="true")
          .pre_step.step3 3
          label#check_box_style
            input(type="checkbox", name="chk_agree",id="chk_agree", checked, disabled=true)
            span.checkmark
            | 按下立即預約即表示同意 
            a(href="https://game.longeplay.com.tw/member/complete_agreement#privacy", target="blank") 使用條款
            | 以及
            a(href="https://game.longeplay.com.tw/member/complete_agreement#data_use", target="blank") 隱私權政策
            
          input#pre_confirm_btn(type="submit", value="")
        #pre_form_img(style="display: none;")
    div(id="container_bg")
      div(id="top_nav")
        .app_icon
        .media_link
          ul
            li
              a(href="https://www.facebook.com/DownofislesGame" target="_blank" title="FB粉絲團")
                img(src="img/fb.png" width="70px" height="70px" alt="")
            li
              a(href="https://forum.gamer.com.tw/A.php?bsn=36237", target="_blank", title="巴哈姆特討論版")
                img(src="img/baha.png", width="70px", height="70px", alt="")
            li
              a(href="https://www.youtube.com/channel/UCO9NrDtRX-ETjn5LxOnzKsw/featured?view_as=subscriber" target="_blank" title="youtube頻道")
                img(src="img/youtube.png" width="70px" height="70px" alt="")
      div(id="container")
        .logo_icon
        #banner
        #pre_btn
    
    .page2_bg
      .pre_page_title= (user_registered==0?" ❔ ":Number(user_registered).toLocaleString() + " ") 
        .pre_page2_title
      .pre_page2_secondtiltle
      #pre_arrive_content2

        each gift in gift_data
          .arrive_on(id="animal_arrive"+gift.id)
          .arrive_gift_detail
            .pre_arrive_gift_detail_close
            i
              h1= gift.title
              each item in gift.items
                br
                | #{item}
        - var stageTarget = {1:50000, 2:100000, 3:150000, 4:200000, 5:250000,6:1000000} 
        each arrVal,arrKey in stageTarget
          div(id="arrive"+arrKey,style=((user_registered>=arrVal&&user_registered<stageTarget[parseInt(arrKey)+1])?"":"display:none"))
        #notice
    .page3_bg
      .pre_page_title
        #pre_page3_title
      .pre_page3_secondtiltle
      iframe(src="https://www.youtube.com/embed/Ph5kkL_U5Xo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="page3_video")
    .footer
      .icon_outer
        span.netease
        a(href="https://game.longeplay.com.tw")
        span.longe
        span.service
      .cs_outer
        span.footer_service
          a(href="https://game.longeplay.com.tw/service_quick?param_game_id=H54&site=long_e" target="_blank") 台灣遊戲代理：龍邑股份有限公司
          br
          | 線上回報網址：
          br
          | https://game.longeplay.com.tw/service_quick?
          br
          | param_game_id=H54&site=long_e
      .text
        p 《海島紀元》依遊戲軟體分級管理辦法分類為普通級。本應用遊戲為免費使用，內另有提供購買虛擬遊戲幣、物品等付費服務。 請依個人興趣、能力進行體驗，並注意遊戲時間避免沉迷。

script(src="js/jquery-2.1.1.min.js")
script(src="js/pre_dawnofisles_mb.js")

